@import '../../styles/_variables.scss';

.cart {
    position: fixed;
    top: 2.5rem;
    right: 1.5rem;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;
    color: $color-coral;

    @media (min-width: 76.7rem) {
        top: 2rem;
        bottom: unset;
    }
}
