.gallery {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 300px;
}

.gallery_img {
    width: 100%;
}

.gallery_controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -3rem;
    margin-bottom: -2rem;
}

.control_button {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    border: none;
    opacity: 0.8;
    background-color: #3f3f3f;
}

.control_button:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media (max-width: 576px) {
    .gallery {
        margin: auto;
        align-items: center;
    }

    .gallery_img {
        width: 75%;
    }

    .gallery_controls {
        width: 75%;
    }
}
