$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #0a2640;
$color-coral: rgb(245, 101, 105);
$color-gray: #777777;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size-xxs: 1.3rem;
$font-size-xs: 1.6rem;
$font-size-s: 2rem;
$font-size-sm: 3rem;
$font-size-m: 4.3rem;
$font-size-xxl: 4.8rem;
$font-size-xxxl: 6.4rem;

$line-height-xxs: 2.4rem;
$line-height-xs: 2.8rem;
$line-height-s: 3.2rem;
$line-height-sm: 4.4rem;
$line-height-m: 3.4rem;
$line-height-ml: 6rem;
$line-height-xxl: 7.2rem;
$line-height-xxxl: 8.4rem;

$content-width: 14rem;

$effects-transition: all 0.2s ease-out;
$effects-hover-opacity: 0.6;
$effects-active-opacity: 0.4;
