@import '../../styles/_variables.scss';

.card {
    max-width: 40rem;
    height: max-content;
    text-align: center;
    border-radius: 1rem;
    font-size: $font-size-xs;
    text-decoration: none;
    box-shadow: 0.5rem 0.5rem 1.5rem #c5c5c5;

    margin-bottom: 2rem;
}

.card_title {
    color: #3f3f3f;
    font-weight: 500;
    position: relative;
    text-align: start;
    margin-left: 0.5rem;
}

.card_panel {
    display: flex;
    width: 100%;
    justify-content: space-between;

    padding: 1rem 1rem;
}

.card_img {
    width: 100%;
}

@media (max-width: 57.6rem) {
    .card {
        width: 40rem;
    }

    .card_title {
        font-size: $font-size-s;
        margin-left: 3rem;
    }

    .card_img {
        width: 30rem;
    }

    .btn_group_btn {
        padding: 0.3rem 0.6rem;
        margin-right: 3rem;
    }
}

.product_info_btn_group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-self: center;
}

.btn_group_btn {
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
}

.btn_group_btn:hover {
    cursor: pointer;
    background-color: $color-coral;
}

.btn_group_btn_active {
    background-color: $color-dark-blue;
    color: #fff;
}
