@import '../../styles/_variables.scss';

.gallery {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gallery_img {
    width: 100%;
}

.gallery_controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -2rem;
    margin-bottom: -2rem;
}

.control_button_right {
    height: 2rem;
    width: 3rem;
    font-size: $font-size-xs;
    border: none;
    opacity: 0.9;
}

.control_button_left {
    height: 2rem;
    width: 3rem;
    font-size: $font-size-xs;
    border: none;
    opacity: 0.9;
}

.control_button_left:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: $color-coral;
}

.control_button_right:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: $color-coral;
}

@media (max-width: 57.6rem) {
    .gallery {
        margin: auto;
        align-items: center;
    }
}
